@import 'variables';
@import 'neat';

body {
  font-family: Futura, sans-serif;
  font-size: 100%;
  background-color: $dark-background-color;
  color: $dark-contrast-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-highlight;
  }
}

p {
  line-height: 1.5em;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.status-page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  color: $dark-contrast-color;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlight {
	color: $dark-contrast-highlight-color;
}

.detail {
	a {
		margin-right: 2rem;
	}

	h2 {
		font-size: 1.3rem;
		margin: 0 0 1rem 0;
	}

	.form {
		border-radius: 0;
		margin-top: 0.5rem;
	}
}

.left {
	width: 40%;
	display: block;
	float: left;
}

.right {
	width: 58%;
	display: block;
	float: left;
	margin-left: 2%;
}

.full {
	width: 100%;
	clear: both;
}

.author {
	font-size: 0.9rem;
	.fa {
		margin: 0 0.25rem 0 0.75rem;
	}
}

.contributors {
	font-size: 0.9rem;
	color: $dark-contrast-color;
	text-decoration: underline;

	&:hover {
		color: tint($dark-contrast-color, 30%);
	}
}

.section {
	font-size: 0.9rem;

	margin: 0;

	p {
		margin-top: 0;
	}
}

.section-header {
	font-size: 0.9rem;
	color: $nav-background-color;
	margin: 1rem 0 0.5rem 0;
}

.detail-actions {
	font-size: 0.9rem;
	border-top: 1px solid $dark-gray-border-color;
	border-bottom: 1px solid $dark-gray-border-color;

	a {
		padding: 0.25rem;
		@include span-columns(6);
		text-align: center;
		border-right: 1px solid $dark-gray-border-color;
		color: $dark-contrast-highlight-color;

		&:last-child {
			border-right: 0;
		}
	}
}

.title {
	width: 100%;
}

.title-main {
	float: left;
}

.title-aside {
	float: left;
	margin-left: 0.5rem;
	margin-top: 1rem;
}

.aside {
	margin-left: 1rem;
	font-size: 0.7rem;
}

.infinite-list-loading {
	width: 100%;
	text-align: center;
	padding: 0.75rem;
	background-color: $infinite-load-background;
	color: $infinite-load-color;
	border: 1px solid $infinite-load-border-color;
	border-radius: $border-radius;
	position: relative;
	margin: 0.5rem 0;
}

@media (max-width: 600px) {
	.left {
		width: 100%;
		display: block;
		clear: both;
	}

	.right {
		width: 100%;
		display: block;
		clear: both;
		margin-left: 0;
	}
}
