@import 'variables';

.CodeMirror-vscrollbar {
	width: 0.5rem;
}

.cm-s-material {
	background-color: $dark-background-color;
	height: 100%;
	font-size: 1.1rem;
}


.cm-s-material div.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.35);
}

.cm-s-material.CodeMirror-focused div.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.35);
}

.cm-s-material .CodeMirror-cursor {
	// border-left: 1px solid $dark-background-color;
	border: 0;
}


.cm-s-material-editing {
	background-color: $dark-background-color;
	height: 100%;
	font-size: 1.1rem;
}

.cm-s-material-editing div.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.35);
}

.cm-s-material-editing.CodeMirror-focused div.CodeMirror-selected {
	background: rgba(255, 255, 255, 0.35);
}

.cm-s-material-editing .CodeMirror-cursor {
	border-left: 1px solid $primary-color;
}





.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: $sub-form-background-color;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  border-radius: $border-radius;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: $dark-background-color;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  position: absolute;
  background: #bcd;
  border-radius: $border-radius;
}
