.file-detail {
	.full {
		width: 100%;
		clear: both;
	}

	.left {
		width: 68%;
		margin: 0 2% 0 0;
		float: left;
	}

	.right {
		width: 30%;
		float: left;
		margin: 0;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.code {
		margin-bottom: 1rem;
	}
}

.annotated-text {
	background-color: $annotated-text-background;
	cursor: pointer;

	// &:hover {
	// 	background-color: $annotated-text-background-hover;
	// }
}

.explanation {
	margin-top: 1rem;

	h3 {
		font-size: 0.9rem;
		margin: 0;
	}

	p {
		margin: 0.5rem 0;
	}

	.form-light {
    width: 100%;
		margin-top: 1rem;
	}

  textarea {
    width: 100%;
  }
}

.explanation-anchor {
	position: relative;
}

.explanation-position {
	position: absolute;
  left: 0;
  right: 0;
  word-wrap: break-word;
}

.explanation-login a {
  margin: 0;
}

@media (max-width: 600px) {
	.file-detail {
		.left {
			width: 100%;
			display: block;
			clear: both;
		}

		.right {
			width: 100%;
			display: block;
			clear: both;
			margin-left: 0;
			margin-top: 1rem;
		}
	}
}
