@import 'variables';

.home {
  font-size: 0.85rem;

  p {
    margin: 0 0 0.25rem 0;
  }
}

.home-left {
  float: left;
  width: 50%;
  display: block;
}

.home-right {
  float: left;
  width: 50%;
  display: block;
}

.home-about {
  padding: 0.5rem 1rem;
  border: 1px solid $gray-light-background-color;
  position: relative;
  margin-bottom: 1.5rem;
}

.home-about-icon {
  float: left;
  width: 30%;
  color: $nav-background-color;
  text-align: center;

  img {
    width: 80%;
    vertical-align: top;
  }
}

.home-about-description {
  float: right;
  right: 0;
  width: 70%;
}

.front {
	h1, h3 {
		margin: 0 0 0.5rem 0;
	}

	h1 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	a {
		color: $dark-contrast-color;

		&:hover {
			color: $dark-contrast-color;
		}
	}

	.front-item {
		margin-bottom: 2rem;
	}
}

.hot {
	width: 100%;
	position: relative;
	font-weight: $weight-bold;

	a {
		color: $dark-contrast-color;

		&:hover {
			color: tint($dark-contrast-color, 80%);
		}
	}
}

.hot-project-main {
	width: 100%;
	min-height: rem(135);
	border: 1px solid $sub-form-background-color;
	position: relative;
	background-color: $hot-main-background-color;
	margin-bottom: 1.5rem;
	font-size: 0.9rem;

	h2 {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	a {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0.5rem 0.8rem;
		top: 0;
		bottom: 0;
	}

}

.hot-project-top-four {
	width: 100%;
	font-size: 0.9rem;

	.hot-project-mid {
		float: left;
		width: 48%;

		&:nth-child(odd) {
			margin-right: 4%;
		}

		min-height: rem(135);
		border: 1px solid $sub-form-background-color;
		position: relative;
		background-color: $hot-top-four-background-color;
		margin-bottom: 1.5rem;

		h3 {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}

		a {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0.5rem 0.8rem;
			top: 0;
			bottom: 0;
		}
	}
}

.hot-project-list {
	width: 100%;
	font-size: 1rem;
	position: relative;

	div {
		width: 100%;
		min-height: rem(45);
		border: 1px solid $sub-form-background-color;
		position: relative;
		background-color: $hot-top-four-background-color;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0.5rem;
		}
	}

	a {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0.8rem 0.8rem;
		top: 0;
		bottom: 0;
	}
}

.home-aside {
	width: 100%;
	text-align: right;
	font-size: 0.9rem;
}
