@import 'variables';

.home {
  font-size: 0.85rem;

  p {
    margin: 0 0 0.25rem 0;
  }

	.left {
	  float: left;
	  width: 50%;
	  display: block;
		margin: 0;
	}

	.right {
	  float: left;
	  width: 48%;
	  display: block;
		margin-left: 2%;
	}

	@media (max-width: 600px) {
		.left {
			width: 100%;
			display: block;
			clear: both;
		}

		.right {
			width: 100%;
			display: block;
			clear: both;
			margin-left: 0;
		}
	}
}

.home-about {
  padding: 0.5rem 1rem;
  border: 1px solid $gray-light-background-color;
  position: relative;
  margin-bottom: 1.5rem;
}

.home-about-icon {
  float: left;
  width: 30%;
  color: $nav-background-color;
  text-align: center;

  img {
    width: 80%;
    vertical-align: top;
  }
}

.home-about-description {
  float: right;
  right: 0;
  width: 70%;
}

.front {
	h1, h3 {
		margin: 0 0 0.5rem 0;

		a {
			transition: all 0.1s;
			color: $dark-contrast-color;

			&:hover {
				color: tint($dark-contrast-color, 50%);
			}
		}
	}

	h1 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	.front-item {
		margin-bottom: 2rem;
	}

	.front-link {
		margin-top: 1rem;
	}
}

.hot {
	width: 100%;
	position: relative;
	font-weight: $weight-bold;

	a {
		position: relative;
		color: $dark-contrast-color;
		transition: all 0.1s;

		&:hover {
			color: tint($dark-contrast-color, 80%);

			.front-author {
				color: tint($hot-author-color, 15%);
			}
		}
	}

	div {
		overflow: hidden;
	}
}

.hot-project-main {
	width: 100%;
	min-height: rem(135);
	border: 1px solid $sub-form-background-color;
	position: relative;
	background-color: $hot-main-background-color;
	margin-bottom: 1.5rem;
	font-size: 0.9rem;

	h2 {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	a {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0.5rem 0.8rem;
		top: 0;
		bottom: 0;
	}

	.front-hot-author {
		font-size: 0.7rem;

		.fa {
			margin-left: 0.25rem;
			margin-right: 0.25rem;
		}
	}
}

.hot-project-top-four {
	width: 100%;
	font-size: 0.9rem;

	.hot-project-mid {
		float: left;
		width: 48%;

		&:nth-child(odd) {
			margin-right: 4%;
		}

		min-height: rem(135);
		border: 1px solid $sub-form-background-color;
		position: relative;
		background-color: $hot-top-four-background-color;
		margin-bottom: 1.5rem;

		h3 {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
		}

		a {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0.5rem 0.8rem;
			top: 0;
			bottom: 0;
		}
	}

	.hot-project-description {
		line-height: 1.5;
		font-size: 0.6rem;
	}
}

.hot-project-list {
	width: 100%;
	font-size: 1rem;
	position: relative;

	.hot-project {
		width: 100%;
		min-height: rem(45);
		border: 1px solid $sub-form-background-color;
		position: relative;
		background-color: $hot-top-four-background-color;
		margin-bottom: 1.5rem;

		&:last-child {
			margin-bottom: 0.5rem;
		}
	}

	a {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0.8rem 0.8rem;
		top: 0;
		bottom: 0;
	}

	.front-author {
		margin-left: 0.25rem;
		float: right;
	}
}

.front-author {
	font-size: 0.7rem;
	color: $hot-author-color;
	transition: all 0.25s;
}

.home-aside {
	width: 100%;
	text-align: right;
	font-size: 0.9rem;
}

.hot-project-description {
	color: $hot-author-color;
	font-size: 0.7rem;
	line-height: 2;
}

.language-overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

// .language-ruby {
// 	background-color: rgba(255, 75, 75, 0.1);
//
// 	&:hover {
// 		background-color: rgba(255, 75, 75, 0.2);
// 	}
// }
//
// .language-javascript {
// 	background-color: rgba(255, 240, 100, 0.1);
//
// 	&:hover {
// 		background-color: rgba(255, 240, 100, 0.2);
// 	}
// }
