@import 'variables';

.modal {
  background-color: $modal-background-color;
  padding: 1rem 3.5rem;
  color: #fff;
  text-align: center;
  position: relative;

  .close-button {
    color: $light-contrast-color;
    font-size: 1.3rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
