@import 'variables';

.main-nav {
  width: 100%;
  background-color: $nav-background-color;
  color: $nav-color;
  line-height: 140%;
  position: relative;

  a {
    color: $nav-color;
    text-decoration: none;
    display: block;
  }
}

.search {
  width: 220px;
  position: absolute;
  padding: 0.3rem;
  font-size: 0.8rem;

  input {
    width: 100%;
    border: 0;
    padding: 0.31rem 0.5rem 0.2rem 0.5rem;
    font-weight: $weight-bold;

    @include placeholder {
      color: $nav-color;
    }
  }

  .input-icon {
    position: absolute;
    right: 0.75rem;
    top: 0.85rem;
    font-size: 1rem;
  }
}

.logo {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: rem(140);

  h2 {
    margin: 0;
  }

  a {
    padding: 0.6rem;
  }

	a:hover {
		color: $dark-background-color;
	}
}

.menu {
  position: absolute;
  right: 0;
  top: 0;

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    float: left;
  }

  a {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}

.menu-profile {
  position: relative;

  ul {
    position: absolute;
    top: 2.55rem;
    right: 1rem;
    background-color: $gray-background-color;
    width: 14rem;
    padding: 1rem 1.5rem;

    a {
      padding: 0;
      font-size: 1rem;
      color: $dark-link-color;
    }
  }
}

.menu-profile-button {
  padding: 0.6rem;
  font-size: 0.9rem;
  color: $light-contrast-color;
  cursor: pointer;

  .fa {
    margin-left: 0.4rem;
  }

  &:hover {
    color: $light-contrast-hover;
  }
}

.secondary-nav {
	background-color: $dark-background-color;
	text-align: center;
	font-size: 0.9rem;
	margin-bottom: 1rem;
	margin: 0 auto 1.5rem auto;

	ul {
		margin: 0 auto;
		list-style: none;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	li {
		display: inline-block;
	}

	a {
		display: block;
		color: $secondary-nav-link-color;
		padding: 0.5rem;
		transition: color 0.25s;
		&:hover {
			color: $nav-background-color;
		}
	}
}
