$dark-background-color: #000;
$dark-contrast-color: #fff;
$gray-background-color: #333;
$modal-background-color: #292929;
$nav-background-color: #ffff64;
$nav-color: #000;
$light-contrast-hover: #000;
$light-contrast-color: #666;
$dark-link-color: #7d8fe8;

$weight-standard: 400;
$weight-bold: 700;
