@import 'bourbon';

$secondary-nav-link-color: #99a7ee;

$dark-background-color: #000;

$dark-contrast-color: #c4c0c0;
$dark-contrast-highlight-color: #eee;
$gray-background-color: #292929;

$link-color: #5ba7c2;
$link-color-highlight: tint($link-color, 20%);
$sub-form-background-color: #333;

$dark-gray-border-color: #444;
$gray-border-color: #555;
$gray-border-highlight-color: tint($gray-border-color, 30%);

$gray-light-background-color: #222;
$modal-background-color: #292929;
$nav-background-color: #ffff64;
$nav-color: #000;
$light-contrast-hover: #000;
$light-contrast-color: #666;
$dark-link-color: #7d8fe8;

$annotated-text-background: rgba(#ffff63, 0.35);

$weight-standard: 400;
$weight-bold: 700;

$border-radius: 3px;

$hot-main-background-color: #222;
$hot-top-four-background-color: shade($hot-main-background-color, 30%);
$hot-author-color: rgb(101, 101, 101);

$list-border-color: #1E1E1E;

$form-placeholder-color: rgb(128, 128, 128);

$reply-group-background: #1a1a1a;
$reply-detail-border-color: #333;
