@import 'bourbon';

$primary-background-color: #000;
$primary-highlight-color: #ffff64;
$primary-border-color: #555;
$primary-color: #c4c0c0;
$border-size: 2px;

$secondary-nav-link-color: #99a7ee;

$dark-background-color: $primary-background-color;
$dark-contrast-color: $primary-color;
$dark-contrast-highlight-color: #eee;
$gray-background-color: #292929;

$link-color: #5ba7c2;
$link-color-highlight: tint($link-color, 20%);
$sub-form-background-color: #333;

$dark-gray-border-color: #444;
$gray-border-color: $primary-border-color;
$gray-border-highlight-color: tint($gray-border-color, 30%);

$gray-light-background-color: #222;
$modal-background-color: #292929;
$nav-background-color: $primary-highlight-color;
$nav-color: #000;
$light-contrast-hover: #000;
$light-contrast-color: #666;
$dark-link-color: #7d8fe8;

$annotated-text-background: rgba(#ffff63, 0.35);

$weight-standard: 400;
$weight-bold: 700;

$border-radius: 2px;

$hot-main-background-color: #222;
$hot-top-four-background-color: shade($hot-main-background-color, 30%);
$hot-author-color: rgb(101, 101, 101);

$list-border-color: #1E1E1E;

// FORM VARIABLES
$form-placeholder-color: rgb(128, 128, 128);
$button-color: $primary-color;
$button-background: $primary-background-color;
$button-border-color: $primary-border-color;
$button-border-highlight-color: $primary-highlight-color;
$button-good-color: #0ecb27;
$button-good-background: transparent;
$button-good-background-hover: transparentize($button-good-color, 0.7);
$button-neutral-background-hover: rgb(35, 35, 35);

$reply-group-background: #1a1a1a;
$reply-detail-border-color: #333;

$infinite-load-background: #262626;
$infinite-load-border-color: #444;
$infinite-load-color: #ccc;

$search-bar-result-background: #000;
$search-color: #eee;
$search-primary-background: rgb(31, 31, 31);
$search-secondary-background: rgb(57, 57, 57);
$search-border-color: #555;
